.help_page {
  width: 100%;
  display: inline-block;
  padding-top: 120px;
  background: url("/public/icons/bg_shapes1.png") lightgray 50% / cover
    no-repeat;
  background: url("/public/icons/bg_shapes2.png"),
    url("/public/icons/bg_shapes1.png");
  background-size: cover;
}

.help_page .help_menu .tab_txt {
  font-family: "NUNITO";
  color: #423127;
  font-size: 18px;
  font-weight: 770;
  font-style: normal;
}

.help_page .help_main_content {
  border-top: 2px solid orange;
  margin-top: 10px;
}

.help_page .help_main_content .theRules_box1 {
  width: 1224px;
  height: 514px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: #e7f6dd;
  margin-top: 45px;
  padding: 25px;
}

.help_page .help_main_content .theRules_box1 .image-with-shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.help_page .help_main_content .theRules_box2 {
  width: 1320px;
  height: 580px;
  margin-top: 25px;
  background: url("/public/icons/about2.png");
  background-size: cover;
}

.help_page .help_main_content .theRules_box2 .img .icon:hover {
	transform: scale(1.2);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  -webkit-transform: scale(1.3);
}
.help_page .help_main_content .theRules_box3 {
  width: 920px;
  height: 280px;
  box-shadow: 0px 0px 10px 15px rgba(154, 235, 228, 0.25);
  border-radius: 25px;
  background: #f6fffe;
  border: 3px dashed #a7eee9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 155px;
  margin-right: 150px;
}

.help_page .help_main_content .theRules_box4 {
  width: 920px;
  height: 280px;
  box-shadow: 0px 0px 10px 15px rgba(223, 178, 178, 0.25);
  border-radius: 25px;
  border: 3px dashed #ffd1db;
  background: #fff2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 155px;
  margin-right: 150px;
}

.help_page .help_main_content .admin_letter_box {
  position: relative;
  width: 612px;
  height: 612px;
  background: url("/public/icons/letter_box.png");
  border: 3px dashed #bdc3f2;
  box-shadow: 10px 0px 15px 1px rgba(0, 0, 0, 0.3);
  border-radius: 14px;
  margin-top: 35px;
}

.help_page .help_main_content .admin_letter_container {
  width: 550px;
  margin: 0 auto;
}

.help_page .help_main_content .admin_letter_box .admin_letter_frame {
  margin-top: 10px;
  margin-left: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.help_page .help_main_content .admin_letter_box .admin_letter_frame p {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #080809;
}

.help_page .help_main_content .admin_letter_box .admin_letter_frame {
  margin-top: 40px;
  font-family: "Nunito";
  font-size: 38px;
  font-weight: 850;
}

.help_page
  .help_main_content
  .admin_letter_box
  .admin_letter_frame
  .admin_intro {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: -10px;
}

.help_page .help_main_content .admin_letter_frame .admin_input_box {
  display: flex;
  flex-direction: column;
}

.help_page .help_main_content .admin_letter_frame .admin_input_box label {
  margin-bottom: 6px;
  font-size: 16px;
}

.help_page .help_main_content .admin_letter_frame .admin_input_box input,
.help_page .help_main_content .admin_letter_frame .admin_input_box textarea {
  width: 550px;
  height: 50px;
  background-color: white;
  border: 3px dashed #ededed;
  box-shadow: 1px 1px 5px 1px #4a5b734d;
  border-radius: 18px;
  margin-bottom: 30px;
  padding-left: 20px;
  font-size: 18px;
}

.help_page .help_main_content .admin_letter_frame .admin_input_box textarea {
  width: 550px;
  height: 150px;
  padding-top: 20px;
  position: relative;
}
