.navbar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 135px;
  flex-direction: column;
  box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
  z-index: 10;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin: 0 20px;
}

.navbar .navbar_top {
  width: 100%;
  height: 37px;
  background-size: cover;
  background-image: linear-gradient(#ffe3c2, #f0d6b7);
}

.navbar .navbar_top .navbar_top_txt {
  color: #724d37;
  font-family: "Nunito";
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 8px;
}

.navbar .navbar_bottom {
  width: 100%;
  height: 98px;
  background-color: white;
}

.navbar .navbar_bottom .navbar_links {
  width: 1100px;
  height: 40px;
  margin-top: 30px;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  font-family: "Nunito";
  font-size: 19px;
  font-weight: 800;
  line-height: normal;
  color: #423127;
  cursor: pointer;
  transition: color 0.2s;
}

.navbar .hover-line a {
  position: relative;
}

.navbar .hover-line a:hover {
  color: orange;
}

.navbar .hover-line a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  border-bottom: solid 2px orange;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.navbar .hover-line a.underline {
  color: orange;
  border-bottom: solid 2px orange;
}

.navbar .hover-line a.underline::after {
  transform: scaleX(1);
}

.navbar .shop_now a {
  text-decoration: none;
}

.navbar .shop_now a {
  color: #1976d2;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.2s;

  font-family: "Nunito";
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.navbar .shop_now a:hover {
  color: orange;
  transition: all 0.2s;
}